/* @import "./tailwind.css"; */
@import "./base.css";
@import "./custom.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-weight: normal;
  min-height: 100vh;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: #3869ba;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
